/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

html, body {
    /* width: 1000px; */
}

body {
    font-family: sans-serif;

}

nav {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;

    
}

nav img {
    width: 20%;
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 10px;
    color: #777;
}

#header-img {
    margin-top: 60px;
}

#workspaces {
    border: 1px solid #777;
    border-radius: 4px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.get-started {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.get-started p {
    line-height: 1.5em;
    color: #777;
}

.get-started h1 {
    font-family: serif;
    font-size: 3em;
    color:#444;
}

.get-started button {
    width: 150px;
    height: 50px;
    background-color: #4049aa;
    color: white;
    border: none;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.partners img {
    width: 33%;
    box-sizing: border-box;
    padding: 50px 80px;
}

.discover {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover h2 {
    font-family: serif;
    font-size: 3em;
    color:#444;
}

.discover button {
    padding: 20px 50px;
    border-radius: 5px;
    color: #4049aa;
    border: 2px solid #4049aa;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 100px;
    padding-bottom: 100px;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
footer ul{
    display: flex;
    align-content: flex-start;
    list-style-type: none;
    flex-direction: column;
    line-height: 2.5em;
}

.pg-footer {
    display: flex;

}

.pg-footer img {
    align-self: center;
}

.try {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#try-for-free {
    font-family: serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.try button {
    width: 150px;
    height: 50px;
    background-color: #4049aa;
    color: white;
    border: none;
    border-radius: 5px;
}

.pg-bottom {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background-color: #eee; 
}

#terms {
    display: flex;
    list-style-type: none;
}

#terms li {
    padding: 10px;
}

#social-links {
    display: flex;
    vertical-align: center;
    
}

#social-links img {
    width: 8%;
}

#social-links > * {
    padding: 10px;
}

